try-import %workspace%/.bazelrc.user

build --action_env=KANNA_UPDATER_PUBKEY
build:notarize --action_env=APPLE_ID
build:notarize --action_env=APPLE_PASSWORD
build:notarize --action_env=APPLE_TEAM_ID
build:notarize --action_env=APPLE_KEYCHAIN_PROFILE
